/*
 Theme Name:   Soledad Child Theme
 Theme URI:    http://pencidesign.com/
 Description:  Soledad Child Theme - Made by PenciDesign
 Author:       Pencidesign
 Version:      1.0
 Author URI:   http://pencidesign.com/
 Template:     soledad
 Text Domain:  soledad
*/

/* = Theme customization go here
-------------------------------------------------------------- */
/* = Single Present Page
-------------------------------------------------------------- */
.single-present-page .flex_div {
	display: flex;
}
.single-present-page h1.post-title {
	font-size: 2.5rem;
}
.single-present-page .date {
	padding-bottom: 5px;
}
.single-present-page p {
	margin-top: 5px;
    margin-bottom: 5px;
}
.single-present-page .present_sub_ttl {
	font-size: 2.0rem;
    margin: 1.2em 0;
}
.single-present-page .present_sub_ttl h2.pre-winner {
    border-left: 7px solid #000;
    padding-left: 10px;
}
.single-present-page ul.flex_layout {
	overflow: hidden;
}
.single-present-page ul.flex_layout li {
	float: left
}
.single-present-page ul.flex_layout li img {
	width: 100%;
}
.single-present-page blockquote.single_blkq {
	padding: 20px;
    background: #ccc;
}

.single-present-page blockquote.single_blkq a {
	color: #068acc;
}
.single-present-page .btn_wrp,
.single-present-page .present_main_cap {
	text-align: center;
    padding-top: 20px;
}
.single-present-page .btn_wrp a,
.single-present-page .present_main_cap a {
	border: 1px solid #000;
	display: inline-block;
    padding: 10px 46px;
    background: #000;
    color: #fff;
    font-weight: 800;
    font-size: 27px;
    border-radius: 10px;
}
.single-present-page .btn_wrp a:hover,
.single-present-page .present_main_cap a:hover {
	background: #fff;
    color: #000;
    border: 1px solid #000;
}

/* -------------------------------------------------------------- */
/* = Single Back-Order-Marche Page
-------------------------------------------------------------- */
.single-present-page .container-single .otoriyose-cnt img {
	margin-right: 10px;
}
.single-present-page .container-single .otoriyose-cnt strong  {
	font-size: 24px;
}
.single-present-page .single_blkq {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: #ccc;
	margin-top: 20px;
}
.single-present-page .flex_div {
	padding: 0;
    margin-bottom: 20px;
}
.single-present-page .single_blkq a {
	color: #068acc;
}
.single-present-page .profile_box .flex_div .flex_div_chld:first-child {
    margin-right: 1em;
}
.single-present-page .profile_box .flex_div .flex_div_chld:nth-child(2) {
    width: calc(100% - 200px - 1em);
    padding-left: 1em;
}
.single-present-page .btn_wrp_otoriyose a {
    display: block;
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #222;
    padding: .5em .5em;
    text-align: center;
    color: #fff;
    width: 250px;
}
.single-present-page .btn_wrp_otoriyose a:hover {
	opacity: .75;
}
.single-present-page h3 {
    border-left: 5px solid #312c24;
    font-size: 21px;
    padding-left: .7em;
    line-height: 2;
}
.single-present-page h4 {
    font-size: 21px;
    margin-bottom: 1.6em;
    line-height: 2;
}
.single-present-page p.main_lead {
	padding: 20px;
    background: #ddd;
    font-size: 18px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-present-page p.small_img_wrp {
	margin: 0 auto 1em;
}

/* -------------------------------------------------------------- */
/* furusatonouzei START*/
.penci-single-pheader.container.two-sidebar, .penci-single-pheader .container.two-sidebar, .penci-single-style-10.container-single-magazine .container.two-sidebar, .penci-single-style-9.container-single-magazine .container.two-sidebar .furusatonouzei-single{width: 1000px;}
.PC-only{display:block;}
.SP-only{display:none;}
.furuttl {
    font-size: 26px;
    border-left: 15px solid #DD8324;
    padding-left: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.2;
    text-align: left;
}
.furu01 {
    text-align: center;
    border-bottom: 4px solid #DD8308;
    width: 530px;
    margin: 0 auto;
    font-size: 24px;
    border-left: none !important;
}
.txt-above {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0 !important;
}
.btn-container1 {
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    flex-wrap: wrap;
}
.flex-column {
    width: 32%;
    padding: 0 30px;
    margin-bottom: 30px;
}
.flex-column .price {
    float: right;
    margin-top: -27px;
    font-size: 18px;
    font-weight: bold;
    color: #DD8324;
}
.flex-column strong {
    font-size: 22px;
}
.flex-column img {
    border-radius: 20px;
}
.flex-column h5 {
    color: #DD8324;
    font-size: 20px;
}
.btn_wrp_01 {
    display: inline-block;
    margin: 0 0.5%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 3px 6px;
    max-width: 250px;
    width: 100%;
}
.btn_wrp_01 a {
    color: #ffffff;
    border: 1px solid #707070;
    font-size: 18px;
    font-weight: 700;
    background: #DD8324;
    display: block;
    overflow: hidden;
    max-width: 250px;
    width: 100%;                                                                                    
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    line-height: 0.8;
    border-radius: 40px;
}
.btn_wrp_01 a:hover {
    opacity: 0.5;
}
.btm-content {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 150px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.btm-content01 {
    background: #DDDDDD;
    padding: 20px 0;
}
.btm-content01 p {
    text-align: center;
    font-weight: bold;
}
.btn_wrp_02 {
    display: inline-block;
    margin: 0 0.5%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 3px 6px;
}
.btn_wrp_02 a {
    background-color: #fff;
    color: #DD8324;
    font-size: 18px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    line-height: 0.8;
    border-radius: 20px;
}
.right-txt {
    float: right;
    font-weight: bold;
    margin-top: -50px !important;
}
.furusatonouzei-single .rtoc-mokuji-content{display: none;}

/* Mobile*/
@media screen and (max-width: 1200px) {
    .PC-only{display:none;}
    .furu01 {
        width: 100%;
        max-width: 530px;
    }
}

@media screen and (max-width: 750px) {
    .PC-only{display:none;}
    .SP-only{display:block;}
    .furuttl01{font-size: 16px !important;}
    .furuttl {
        font-size: 20px !important;
    }
    .flex-container {
        flex-direction: column;
    }
    .flex-column {
        width: auto;
        padding: 0;
    }
    .furu01 {
        width: 100%;
        max-width: 530px;
        font-size: 20px;
    }
    .btn_wrp_01 {
        width: 100%;
        max-width: 400px;
    }
    .btn_wrp_01 a {
        width: 100%;
        max-width: 400px;
    }
    .btm-content{padding: 20px;}
    .flex-column .price {margin-top: -33px;font-size: 25px;}
    .flex-column h5{font-size: 18px;}
    .single-present-page .present_sub_ttl{margin: 0;}
    .single-present-page .present_main_cap{padding-top: 0;}
  }
/* furusatonouzei  END*/
/*-------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* close-up/bieredesami */
.btn_wrp_ylw {
    display: inline-block;
    margin: 0 0.5%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 3px 6px;
    width: 100%;
    max-width: 430px;
}
.btn_wrp_ylw a {
    background-color: #FECD39;
    color: #3C3C3B !important;
    font-size: 18px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 430px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.3;
    border-radius: 15px;
}
.btn_wrp_ylw a:hover {opacity: 0.5;}
.new-ttl {
    font-size: 18px !important;
}
.new-ttl01 {
    border-left: 30px solid #672D1F;
    font-size: 24px !important;
    line-height: 2 !important;
    padding-left: 30px;
    margin-top: 3em;
}
.new-ttl02 {
    border-left: 30px solid #6E663F;
    font-size: 24px !important;
    line-height: 2 !important;
    padding-left: 30px;
    margin-top: 2em;
}
.flex-container1 {
    display: flex;
    margin-bottom: 3em;
}
.flex-container1 .flex-left {
    width: 60%;
    background: #FFFAEA;
    margin-top: 2em;
    padding: 15px 15px 0 15px;
}

/* close-up/bieredesami END*/
/* -------------------------------------------------------------- */




/* = about-afluent Page
-------------------------------------------------------------- */
.sub_visual {
    position: relative;
    margin-bottom: 1.6em;
    text-align: center;
}
.sub_visual img {
    display: block;
    margin: 0 auto;
}
.pc_only { display: block; }
.sp-only { display: none; }

#aboutus{
    margin:0 0 3em 0 !important;
}
#aboutus ul.flex_layout {
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 3em; 
}
#aboutus ul.flex_layout li {
    padding:5px;
    text-align: center;
    align-self: center;
    width: 33%;
    margin-right: .5%;
    margin-bottom: .5%; 
}
#aboutus ul.flex_layout li:nth-child(3n) {
    margin-right: 0; 
}
#aboutus ul.flex_layout li p.catch {
    font-size:92% !important;
    line-height:1.2em !important;
}
#aboutus ul.flex_layout li a {
    display: block;
    position: relative; 
}
#aboutus ul.flex_layout li img {
    width: 100%;
    padding:10px;
}
#aboutus ul.flex_layout li .btn_wrp a {
    display: block;
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #222;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    width: 81.4814814814815%;
    margin: 0 auto; 
}
#aboutus ul.flex_layout li .btn_wrp a span {
    position: relative; 
}
#aboutus ul.flex_layout li .btn_wrp a span::after {
    position: absolute;
    top: -50%;
    bottom: -50%;
    right: -2.0em;
    left: auto;
    margin: auto;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .5em solid transparent;
    border-left: .8em solid #fff;
    box-sizing: content-box; 
}
#aboutus ul.flex_layout li .btn_wrp a:hover {
    background-color: #fff;
    color: #222; 
}
#aboutus ul.flex_layout li .btn_wrp a:hover span::after {
    border-left: .8em solid #222; 
}

#aboutus ul.flex_layout1 {
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 3em; 
}
#aboutus ul.flex_layout1 li {
    padding:5px;
    text-align: center;
    align-self: center;
    width: 100%;
    margin-right: .5%;
    margin-bottom: .5%; 
}
#aboutus ul.flex_layout1 li:nth-child(3n) {
    margin-right: 0; 
}
#aboutus ul.flex_layout1 li p.catch {
    font-size:92% !important;
    line-height:1.2em !important;
}
#aboutus ul.flex_layout1 li a {
    display: block;
    position: relative; 
}
#aboutus ul.flex_layout1 li img {
    width: 100%;
    padding:10px;
}
#aboutus ul.flex_layout1 li .btn_wrp a {
    display: block;
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #222;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    width: 81.4814814814815%;
    margin: 0 auto;
}
#aboutus ul.flex_layout1 li .btn_wrp a span {
    position: relative; 
}
#aboutus ul.flex_layout1 li .btn_wrp a span::after {
    position: absolute;
    top: -50%;
    bottom: -50%;
    right: -2.0em;
    left: auto;
    margin: auto;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .5em solid transparent;
    border-left: .8em solid #fff;
    box-sizing: content-box; 
}
#aboutus ul.flex_layout1 li .btn_wrp a:hover {
    background-color: #fff;
    color: #222; 
}
#aboutus ul.flex_layout1 li .btn_wrp a:hover span::after {
    border-left: .8em solid #222; 
}













@media screen and (max-width: 750px) {
    .sp-only { display: block; }
    .pc-only { display: none; }
}